p.
    [INFO] Scanning for projects...
    [INFO]
    [INFO] ------------------------------------------------------------------------
    [INFO] Building tomitribe-io-www 0.0.1-SNAPSHOT
    [INFO] ------------------------------------------------------------------------
    [INFO]
    [INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ tomitribe-io-www ---
    [INFO] Deleting /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] Copying 1 resource
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:testResources (default-testResources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] skip non existing resourceDirectory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/test/resources
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:testCompile (default-testCompile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-surefire-plugin:2.17:test (default-test) @ tomitribe-io-www ---
    [INFO] No tests to run.
    [INFO]
    [INFO] --- maven-war-plugin:2.2:war (default-war) @ tomitribe-io-www ---
    [INFO] Packaging webapp
    [INFO] Assembling webapp [tomitribe-io-www] in [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io]
    [INFO] Processing war project
    [INFO] Copying webapp resources [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/main/webapp]
    [INFO] Webapp assembled in [45 msecs]
    [INFO] Building war: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war
    [INFO] WEB-INF/web.xml already added, skipping
    [INFO]
    [INFO] --- maven-install-plugin:2.4:install (default-install) @ tomitribe-io-www ---
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.war
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/pom.xml to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.pom
    [INFO]
    [INFO] --- tomee-maven-plugin:1.7.2:run (default-cli) @ tomitribe-io-www ---
    [INFO] TomEE was unzipped in '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee'
    [INFO] Removed not mandatory default webapps
    [INFO] Installed '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war' in /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    [INFO] Running 'org.apache.openejb.maven.plugin.run'. Configured TomEE in plugin is localhost:8080 (plugin shutdown port is 8005 and https port is 8443)
    Started server process on port: 8080
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server version:        Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server built:          May 7 2015 17:14:55 UTC
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server number:         7.0.62.0
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Name:               Linux
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Version:            3.16.0-4-amd64
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Architecture:          amd64
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Java Home:             /home/tveronezi/Documents/development/dev-bin/jdk1.7.0_79/jre
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Version:           1.7.0_79-b15
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Vendor:            Oracle Corporation
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_BASE:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_HOME:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -XX:+HeapDumpOnOutOfMemoryError
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.catalina.STRICT_SERVLET_COMPLIANCE=false
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dtomee.remote.support=true
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.system.apps=false
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.config.file=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/logging.properties
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -javaagent:/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib/openejb-javaagent.jar
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.io.tmpdir=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.endorsed.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/endorsed
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.base=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.home=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.ext.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.tomcat.util.http.ServerCookie.ALLOW_HTTP_SEPARATORS_IN_V0=true
    Sep 04, 2015 9:23:04 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -ea
    Sep 04, 2015 9:23:04 AM org.apache.catalina.core.AprLifecycleListener lifecycleEvent
    INFO: The APR based Apache Tomcat Native library which allows optimal performance in production environments was not found on the java.library.path: /usr/java/packages/lib/amd64:/usr/lib64:/lib64:/lib:/usr/lib
    Sep 04, 2015 9:23:04 AM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 9:23:04 AM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] Waiting for command: [quit, exit, reload]
    Sep 04, 2015 9:23:05 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'tomee.remote.support=true'
    Sep 04, 2015 9:23:05 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.jdbc.datasource-creator=org.apache.tomee.jdbc.TomEEDataSourceCreator'
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: OpenEJB http://tomee.apache.org/
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Startup: Fri Sep 04 09:23:05 EDT 2015
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Copyright 1999-2013 (C) Apache OpenEJB Project, All Rights Reserved.
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Version: 4.7.2
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build date: 20150517
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build time: 10:10
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.home = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 9:23:05 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.base = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 9:23:05 AM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Created new singletonService org.apache.openejb.cdi.ThreadSingletonServiceImpl@72490df
    Sep 04, 2015 9:23:05 AM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Succeeded in installing singleton service
    Sep 04, 2015 9:23:05 AM org.apache.openejb.config.ConfigurationFactory init
    INFO: openejb configuration file is '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/tomee.xml'
    Sep 04, 2015 9:23:06 AM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Tomcat Security Service, type=SecurityService, provider-id=Tomcat Security Service)
    Sep 04, 2015 9:23:06 AM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Transaction Manager, type=TransactionManager, provider-id=Default Transaction Manager)
    Sep 04, 2015 9:23:06 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.system.apps=false'
    Sep 04, 2015 9:23:06 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.deployments.classpath=false'
    Sep 04, 2015 9:23:06 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating TransactionManager(id=Default Transaction Manager)
    Sep 04, 2015 9:23:06 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating SecurityService(id=Tomcat Security Service)
    Sep 04, 2015 9:23:06 AM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf)
    Sep 04, 2015 9:23:06 AM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf-rs)
    Sep 04, 2015 9:23:07 AM org.apache.openejb.server.SimpleServiceManager start
    INFO:   ** Bound Services **
    Sep 04, 2015 9:23:07 AM org.apache.openejb.server.SimpleServiceManager printRow
    INFO:   NAME                 IP              PORT
    Sep 04, 2015 9:23:07 AM org.apache.openejb.server.SimpleServiceManager start
    INFO: -------
    Sep 04, 2015 9:23:07 AM org.apache.openejb.server.SimpleServiceManager start
    INFO: Ready!
    Sep 04, 2015 9:23:07 AM org.apache.catalina.startup.Catalina load
    INFO: Initialization processed in 3641 ms
    Sep 04, 2015 9:23:07 AM org.apache.tomee.catalina.OpenEJBNamingContextListener bindResource
    INFO: Importing a Tomcat Resource with id 'UserDatabase' of type 'org.apache.catalina.UserDatabase'.
    Sep 04, 2015 9:23:07 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Resource(id=UserDatabase)
    Sep 04, 2015 9:23:07 AM org.apache.catalina.core.StandardService startInternal
    INFO: Starting service Catalina
    Sep 04, 2015 9:23:07 AM org.apache.catalina.core.StandardEngine startInternal
    INFO: Starting Servlet Engine: Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 9:23:07 AM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deploying web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 9:23:07 AM org.apache.tomee.catalina.TomcatWebAppBuilder init
    INFO: ------------------------- localhost -&gt; /tomitribe-io
    Sep 04, 2015 9:23:07 AM org.apache.openejb.util.JarExtractor extract
    INFO: Extracting jar: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 9:23:07 AM org.apache.openejb.util.JarExtractor extract
    INFO: Extracted path: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 9:23:07 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager'
    Sep 04, 2015 9:23:07 AM org.apache.openejb.config.ConfigurationFactory configureApplication
    INFO: Configuring enterprise application: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 9:23:07 AM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Managed Container, type=Container, provider-id=Default Managed Container)
    Sep 04, 2015 9:23:07 AM org.apache.openejb.config.AutoConfig createContainer
    INFO: Auto-creating a container for bean tomitribe-io.Comp1088737719: Container(type=MANAGED, id=Default Managed Container)
    Sep 04, 2015 9:23:07 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Container(id=Default Managed Container)
    Sep 04, 2015 9:23:07 AM org.apache.openejb.core.managed.SimplePassivater init
    INFO: Using directory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp for stateful session passivation
    Sep 04, 2015 9:23:07 AM org.apache.openejb.config.AppInfoBuilder build
    INFO: Enterprise application &quot;/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io&quot; loaded.
    Sep 04, 2015 9:23:07 AM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Assembling app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 9:23:07 AM org.apache.openejb.cdi.CdiBuilder initSingleton
    INFO: Existing thread singleton service in SystemInstance(): org.apache.openejb.cdi.ThreadSingletonServiceImpl@72490df
    Sep 04, 2015 9:23:07 AM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container is starting...
    Sep 04, 2015 9:23:07 AM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [CdiPlugin]
    Sep 04, 2015 9:23:07 AM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [OpenWebBeansJsfPlugin]
    Sep 04, 2015 9:23:08 AM org.apache.webbeans.config.BeansDeployer validateInjectionPoints
    INFO: All injection points were validated successfully.
    Sep 04, 2015 9:23:08 AM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container has started, it took 176 ms.
    Sep 04, 2015 9:23:08 AM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Deployed Application(path=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io)
    Sep 04, 2015 9:23:09 AM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deployment of web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war has finished in 2,412 ms
    Sep 04, 2015 9:23:09 AM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 9:23:09 AM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 9:23:09 AM org.apache.catalina.startup.Catalina start
    INFO: Server startup in 2566 ms
    ^CSep 04, 2015 10:10:53 AM org.apache.catalina.core.StandardServer await
    INFO: A valid shutdown command was received via the shutdown port. Stopping the Server instance.
    Sep 04, 2015 10:10:53 AM org.apache.coyote.AbstractProtocol pause
    INFO: Pausing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 10:10:53 AM org.apache.coyote.AbstractProtocol pause
    INFO: Pausing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 10:10:54 AM org.apache.catalina.core.StandardService stopInternal
    INFO: Stopping service Catalina
    Sep 04, 2015 10:10:54 AM org.apache.openejb.assembler.classic.Assembler destroyApplication
    INFO: Undeploying app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 10:10:54 AM org.apache.coyote.AbstractProtocol stop
    INFO: Stopping ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 10:10:54 AM org.apache.coyote.AbstractProtocol stop
    INFO: Stopping ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 10:10:54 AM org.apache.openejb.server.SimpleServiceManager stop
    INFO: Stopping server services
    Sep 04, 2015 10:10:54 AM org.apache.coyote.AbstractProtocol destroy
    INFO: Destroying ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 10:10:54 AM org.apache.coyote.AbstractProtocol destroy
    INFO: Destroying ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] TomEE stopped
    tveronezi@ubatuba:tomitribe.io$ mvn clean install tomee:run
    [INFO] Scanning for projects...
    [INFO]
    [INFO] ------------------------------------------------------------------------
    [INFO] Building tomitribe-io-www 0.0.1-SNAPSHOT
    [INFO] ------------------------------------------------------------------------
    [INFO]
    [INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ tomitribe-io-www ---
    [INFO] Deleting /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] Copying 1 resource
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:testResources (default-testResources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] skip non existing resourceDirectory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/test/resources
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:testCompile (default-testCompile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-surefire-plugin:2.17:test (default-test) @ tomitribe-io-www ---
    [INFO] No tests to run.
    [INFO]
    [INFO] --- maven-war-plugin:2.2:war (default-war) @ tomitribe-io-www ---
    [INFO] Packaging webapp
    [INFO] Assembling webapp [tomitribe-io-www] in [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io]
    [INFO] Processing war project
    [INFO] Copying webapp resources [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/main/webapp]
    [INFO] Webapp assembled in [44 msecs]
    [INFO] Building war: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war
    [INFO] WEB-INF/web.xml already added, skipping
    [INFO]
    [INFO] --- maven-install-plugin:2.4:install (default-install) @ tomitribe-io-www ---
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.war
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/pom.xml to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.pom
    [INFO]
    [INFO] --- tomee-maven-plugin:1.7.2:run (default-cli) @ tomitribe-io-www ---
    [INFO] TomEE was unzipped in '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee'
    [INFO] Removed not mandatory default webapps
    [INFO] Installed '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war' in /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    [INFO] Running 'org.apache.openejb.maven.plugin.run'. Configured TomEE in plugin is localhost:8080 (plugin shutdown port is 8005 and https port is 8443)
    Started server process on port: 8080
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server version:        Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server built:          May 7 2015 17:14:55 UTC
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server number:         7.0.62.0
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Name:               Linux
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Version:            3.16.0-4-amd64
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Architecture:          amd64
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Java Home:             /home/tveronezi/Documents/development/dev-bin/jdk1.7.0_79/jre
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Version:           1.7.0_79-b15
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Vendor:            Oracle Corporation
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_BASE:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_HOME:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -XX:+HeapDumpOnOutOfMemoryError
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.catalina.STRICT_SERVLET_COMPLIANCE=false
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dtomee.remote.support=true
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.system.apps=false
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.config.file=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/logging.properties
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -javaagent:/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib/openejb-javaagent.jar
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.io.tmpdir=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.endorsed.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/endorsed
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.base=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.home=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.ext.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.tomcat.util.http.ServerCookie.ALLOW_HTTP_SEPARATORS_IN_V0=true
    Sep 04, 2015 10:11:02 AM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -ea
    Sep 04, 2015 10:11:02 AM org.apache.catalina.core.AprLifecycleListener lifecycleEvent
    INFO: The APR based Apache Tomcat Native library which allows optimal performance in production environments was not found on the java.library.path: /usr/java/packages/lib/amd64:/usr/lib64:/lib64:/lib:/usr/lib
    Sep 04, 2015 10:11:03 AM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 10:11:03 AM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] Waiting for command: [quit, exit, reload]
    Sep 04, 2015 10:11:04 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'tomee.remote.support=true'
    Sep 04, 2015 10:11:04 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.jdbc.datasource-creator=org.apache.tomee.jdbc.TomEEDataSourceCreator'
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: OpenEJB http://tomee.apache.org/
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Startup: Fri Sep 04 10:11:04 EDT 2015
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Copyright 1999-2013 (C) Apache OpenEJB Project, All Rights Reserved.
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Version: 4.7.2
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build date: 20150517
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build time: 10:10
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.home = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 10:11:04 AM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.base = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 10:11:04 AM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Created new singletonService org.apache.openejb.cdi.ThreadSingletonServiceImpl@75411b99
    Sep 04, 2015 10:11:04 AM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Succeeded in installing singleton service
    Sep 04, 2015 10:11:04 AM org.apache.openejb.config.ConfigurationFactory init
    INFO: openejb configuration file is '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/tomee.xml'
    Sep 04, 2015 10:11:04 AM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Tomcat Security Service, type=SecurityService, provider-id=Tomcat Security Service)
    Sep 04, 2015 10:11:04 AM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Transaction Manager, type=TransactionManager, provider-id=Default Transaction Manager)
    Sep 04, 2015 10:11:04 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.system.apps=false'
    Sep 04, 2015 10:11:04 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.deployments.classpath=false'
    Sep 04, 2015 10:11:04 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating TransactionManager(id=Default Transaction Manager)
    Sep 04, 2015 10:11:05 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating SecurityService(id=Tomcat Security Service)
    Sep 04, 2015 10:11:05 AM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf)
    Sep 04, 2015 10:11:05 AM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf-rs)
    Sep 04, 2015 10:11:05 AM org.apache.openejb.server.SimpleServiceManager start
    INFO:   ** Bound Services **
    Sep 04, 2015 10:11:05 AM org.apache.openejb.server.SimpleServiceManager printRow
    INFO:   NAME                 IP              PORT
    Sep 04, 2015 10:11:05 AM org.apache.openejb.server.SimpleServiceManager start
    INFO: -------
    Sep 04, 2015 10:11:05 AM org.apache.openejb.server.SimpleServiceManager start
    INFO: Ready!
    Sep 04, 2015 10:11:05 AM org.apache.catalina.startup.Catalina load
    INFO: Initialization processed in 3718 ms
    Sep 04, 2015 10:11:06 AM org.apache.tomee.catalina.OpenEJBNamingContextListener bindResource
    INFO: Importing a Tomcat Resource with id 'UserDatabase' of type 'org.apache.catalina.UserDatabase'.
    Sep 04, 2015 10:11:06 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Resource(id=UserDatabase)
    Sep 04, 2015 10:11:06 AM org.apache.catalina.core.StandardService startInternal
    INFO: Starting service Catalina
    Sep 04, 2015 10:11:06 AM org.apache.catalina.core.StandardEngine startInternal
    INFO: Starting Servlet Engine: Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 10:11:06 AM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deploying web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 10:11:06 AM org.apache.tomee.catalina.TomcatWebAppBuilder init
    INFO: ------------------------- localhost -&gt; /tomitribe-io
    Sep 04, 2015 10:11:06 AM org.apache.openejb.util.JarExtractor extract
    INFO: Extracting jar: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 10:11:06 AM org.apache.openejb.util.JarExtractor extract
    INFO: Extracted path: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 10:11:06 AM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager'
    Sep 04, 2015 10:11:06 AM org.apache.openejb.config.ConfigurationFactory configureApplication
    INFO: Configuring enterprise application: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 10:11:06 AM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Managed Container, type=Container, provider-id=Default Managed Container)
    Sep 04, 2015 10:11:06 AM org.apache.openejb.config.AutoConfig createContainer
    INFO: Auto-creating a container for bean tomitribe-io.Comp507720350: Container(type=MANAGED, id=Default Managed Container)
    Sep 04, 2015 10:11:06 AM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Container(id=Default Managed Container)
    Sep 04, 2015 10:11:06 AM org.apache.openejb.core.managed.SimplePassivater init
    INFO: Using directory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp for stateful session passivation
    Sep 04, 2015 10:11:06 AM org.apache.openejb.config.AppInfoBuilder build
    INFO: Enterprise application &quot;/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io&quot; loaded.
    Sep 04, 2015 10:11:06 AM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Assembling app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 10:11:06 AM org.apache.openejb.cdi.CdiBuilder initSingleton
    INFO: Existing thread singleton service in SystemInstance(): org.apache.openejb.cdi.ThreadSingletonServiceImpl@75411b99
    Sep 04, 2015 10:11:06 AM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container is starting...
    Sep 04, 2015 10:11:06 AM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [CdiPlugin]
    Sep 04, 2015 10:11:06 AM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [OpenWebBeansJsfPlugin]
    Sep 04, 2015 10:11:06 AM org.apache.webbeans.config.BeansDeployer validateInjectionPoints
    INFO: All injection points were validated successfully.
    Sep 04, 2015 10:11:07 AM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container has started, it took 87 ms.
    Sep 04, 2015 10:11:07 AM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Deployed Application(path=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io)
    Sep 04, 2015 10:11:07 AM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deployment of web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war has finished in 1,855 ms
    Sep 04, 2015 10:11:08 AM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 10:11:08 AM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 10:11:08 AM org.apache.catalina.startup.Catalina start
    INFO: Server startup in 2072 ms
    ^CSep 04, 2015 1:05:06 PM org.apache.coyote.AbstractProtocol pause
    INFO: Pausing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:05:06 PM org.apache.coyote.AbstractProtocol pause
    INFO: Pausing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 1:05:06 PM org.apache.catalina.core.StandardService stopInternal
    INFO: Stopping service Catalina
    Sep 04, 2015 1:05:06 PM org.apache.openejb.assembler.classic.Assembler destroyApplication
    INFO: Undeploying app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:05:06 PM org.apache.catalina.core.StandardServer await
    INFO: A valid shutdown command was received via the shutdown port. Stopping the Server instance.
    Sep 04, 2015 1:05:07 PM org.apache.coyote.AbstractProtocol stop
    INFO: Stopping ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:05:07 PM org.apache.coyote.AbstractProtocol stop
    INFO: Stopping ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 1:05:07 PM org.apache.openejb.server.SimpleServiceManager stop
    INFO: Stopping server services
    Sep 04, 2015 1:05:07 PM org.apache.coyote.AbstractProtocol destroy
    INFO: Destroying ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:05:07 PM org.apache.coyote.AbstractProtocol destroy
    INFO: Destroying ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] TomEE stopped
    tveronezi@ubatuba:tomitribe.io$ mvn clean install tomee:run
    [INFO] Scanning for projects...
    [INFO]
    [INFO] ------------------------------------------------------------------------
    [INFO] Building tomitribe-io-www 0.0.1-SNAPSHOT
    [INFO] ------------------------------------------------------------------------
    [INFO]
    [INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ tomitribe-io-www ---
    [INFO] Deleting /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] Copying 1 resource
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:testResources (default-testResources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] skip non existing resourceDirectory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/test/resources
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:testCompile (default-testCompile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-surefire-plugin:2.17:test (default-test) @ tomitribe-io-www ---
    [INFO] No tests to run.
    [INFO]
    [INFO] --- maven-war-plugin:2.2:war (default-war) @ tomitribe-io-www ---
    [INFO] Packaging webapp
    [INFO] Assembling webapp [tomitribe-io-www] in [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io]
    [INFO] Processing war project
    [INFO] Copying webapp resources [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/main/webapp]
    [INFO] Webapp assembled in [43 msecs]
    [INFO] Building war: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war
    [INFO] WEB-INF/web.xml already added, skipping
    [INFO]
    [INFO] --- maven-install-plugin:2.4:install (default-install) @ tomitribe-io-www ---
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.war
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/pom.xml to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.pom
    [INFO]
    [INFO] --- tomee-maven-plugin:1.7.2:run (default-cli) @ tomitribe-io-www ---
    [INFO] TomEE was unzipped in '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee'
    [INFO] Removed not mandatory default webapps
    [INFO] Installed '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war' in /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    [INFO] Running 'org.apache.openejb.maven.plugin.run'. Configured TomEE in plugin is localhost:8080 (plugin shutdown port is 8005 and https port is 8443)
    Started server process on port: 8080
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server version:        Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server built:          May 7 2015 17:14:55 UTC
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server number:         7.0.62.0
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Name:               Linux
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Version:            3.16.0-4-amd64
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Architecture:          amd64
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Java Home:             /home/tveronezi/Documents/development/dev-bin/jdk1.7.0_79/jre
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Version:           1.7.0_79-b15
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Vendor:            Oracle Corporation
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_BASE:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_HOME:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -XX:+HeapDumpOnOutOfMemoryError
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.catalina.STRICT_SERVLET_COMPLIANCE=false
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dtomee.remote.support=true
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.system.apps=false
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.config.file=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/logging.properties
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -javaagent:/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib/openejb-javaagent.jar
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.io.tmpdir=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.endorsed.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/endorsed
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.base=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.home=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.ext.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.tomcat.util.http.ServerCookie.ALLOW_HTTP_SEPARATORS_IN_V0=true
    Sep 04, 2015 1:05:15 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -ea
    Sep 04, 2015 1:05:15 PM org.apache.catalina.core.AprLifecycleListener lifecycleEvent
    INFO: The APR based Apache Tomcat Native library which allows optimal performance in production environments was not found on the java.library.path: /usr/java/packages/lib/amd64:/usr/lib64:/lib64:/lib:/usr/lib
    Sep 04, 2015 1:05:15 PM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:05:15 PM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] Waiting for command: [quit, exit, reload]
    Sep 04, 2015 1:05:16 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'tomee.remote.support=true'
    Sep 04, 2015 1:05:16 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.jdbc.datasource-creator=org.apache.tomee.jdbc.TomEEDataSourceCreator'
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: OpenEJB http://tomee.apache.org/
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Startup: Fri Sep 04 13:05:17 EDT 2015
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Copyright 1999-2013 (C) Apache OpenEJB Project, All Rights Reserved.
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Version: 4.7.2
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build date: 20150517
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build time: 10:10
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.home = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:05:17 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.base = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:05:17 PM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Created new singletonService org.apache.openejb.cdi.ThreadSingletonServiceImpl@3e9e2d71
    Sep 04, 2015 1:05:17 PM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Succeeded in installing singleton service
    Sep 04, 2015 1:05:17 PM org.apache.openejb.config.ConfigurationFactory init
    INFO: openejb configuration file is '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/tomee.xml'
    Sep 04, 2015 1:05:17 PM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Tomcat Security Service, type=SecurityService, provider-id=Tomcat Security Service)
    Sep 04, 2015 1:05:17 PM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Transaction Manager, type=TransactionManager, provider-id=Default Transaction Manager)
    Sep 04, 2015 1:05:17 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.system.apps=false'
    Sep 04, 2015 1:05:17 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.deployments.classpath=false'
    Sep 04, 2015 1:05:17 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating TransactionManager(id=Default Transaction Manager)
    Sep 04, 2015 1:05:17 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating SecurityService(id=Tomcat Security Service)
    Sep 04, 2015 1:05:17 PM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf)
    Sep 04, 2015 1:05:18 PM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf-rs)
    Sep 04, 2015 1:05:18 PM org.apache.openejb.server.SimpleServiceManager start
    INFO:   ** Bound Services **
    Sep 04, 2015 1:05:18 PM org.apache.openejb.server.SimpleServiceManager printRow
    INFO:   NAME                 IP              PORT
    Sep 04, 2015 1:05:18 PM org.apache.openejb.server.SimpleServiceManager start
    INFO: -------
    Sep 04, 2015 1:05:18 PM org.apache.openejb.server.SimpleServiceManager start
    INFO: Ready!
    Sep 04, 2015 1:05:18 PM org.apache.catalina.startup.Catalina load
    INFO: Initialization processed in 3563 ms
    Sep 04, 2015 1:05:18 PM org.apache.tomee.catalina.OpenEJBNamingContextListener bindResource
    INFO: Importing a Tomcat Resource with id 'UserDatabase' of type 'org.apache.catalina.UserDatabase'.
    Sep 04, 2015 1:05:18 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Resource(id=UserDatabase)
    Sep 04, 2015 1:05:18 PM org.apache.catalina.core.StandardService startInternal
    INFO: Starting service Catalina
    Sep 04, 2015 1:05:18 PM org.apache.catalina.core.StandardEngine startInternal
    INFO: Starting Servlet Engine: Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 1:05:18 PM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deploying web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 1:05:18 PM org.apache.tomee.catalina.TomcatWebAppBuilder init
    INFO: ------------------------- localhost -&gt; /tomitribe-io
    Sep 04, 2015 1:05:18 PM org.apache.openejb.util.JarExtractor extract
    INFO: Extracting jar: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 1:05:18 PM org.apache.openejb.util.JarExtractor extract
    INFO: Extracted path: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:05:18 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager'
    Sep 04, 2015 1:05:18 PM org.apache.openejb.config.ConfigurationFactory configureApplication
    INFO: Configuring enterprise application: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:05:19 PM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Managed Container, type=Container, provider-id=Default Managed Container)
    Sep 04, 2015 1:05:19 PM org.apache.openejb.config.AutoConfig createContainer
    INFO: Auto-creating a container for bean tomitribe-io.Comp1634283607: Container(type=MANAGED, id=Default Managed Container)
    Sep 04, 2015 1:05:19 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Container(id=Default Managed Container)
    Sep 04, 2015 1:05:19 PM org.apache.openejb.core.managed.SimplePassivater init
    INFO: Using directory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp for stateful session passivation
    Sep 04, 2015 1:05:19 PM org.apache.openejb.config.AppInfoBuilder build
    INFO: Enterprise application &quot;/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io&quot; loaded.
    Sep 04, 2015 1:05:19 PM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Assembling app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:05:19 PM org.apache.openejb.cdi.CdiBuilder initSingleton
    INFO: Existing thread singleton service in SystemInstance(): org.apache.openejb.cdi.ThreadSingletonServiceImpl@3e9e2d71
    Sep 04, 2015 1:05:19 PM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container is starting...
    Sep 04, 2015 1:05:19 PM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [CdiPlugin]
    Sep 04, 2015 1:05:19 PM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [OpenWebBeansJsfPlugin]
    Sep 04, 2015 1:05:19 PM org.apache.webbeans.config.BeansDeployer validateInjectionPoints
    INFO: All injection points were validated successfully.
    Sep 04, 2015 1:05:19 PM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container has started, it took 106 ms.
    Sep 04, 2015 1:05:19 PM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Deployed Application(path=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io)
    Sep 04, 2015 1:05:20 PM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deployment of web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war has finished in 2,194 ms
    Sep 04, 2015 1:05:20 PM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:05:20 PM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 1:05:20 PM org.apache.catalina.startup.Catalina start
    INFO: Server startup in 2387 ms
    ^CSep 04, 2015 1:35:12 PM org.apache.catalina.core.StandardServer await
    INFO: A valid shutdown command was received via the shutdown port. Stopping the Server instance.
    Sep 04, 2015 1:35:12 PM org.apache.coyote.AbstractProtocol pause
    INFO: Pausing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:35:12 PM org.apache.coyote.AbstractProtocol pause
    INFO: Pausing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 1:35:12 PM org.apache.catalina.core.StandardService stopInternal
    INFO: Stopping service Catalina
    Sep 04, 2015 1:35:12 PM org.apache.openejb.assembler.classic.Assembler destroyApplication
    INFO: Undeploying app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:35:12 PM org.apache.coyote.AbstractProtocol stop
    INFO: Stopping ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:35:12 PM org.apache.coyote.AbstractProtocol stop
    INFO: Stopping ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 1:35:12 PM org.apache.openejb.server.SimpleServiceManager stop
    INFO: Stopping server services
    Sep 04, 2015 1:35:12 PM org.apache.coyote.AbstractProtocol destroy
    INFO: Destroying ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:35:12 PM org.apache.coyote.AbstractProtocol destroy
    INFO: Destroying ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] TomEE stopped
    tveronezi@ubatuba:tomitribe.io$ mvn clean install tomee:run
    [INFO] Scanning for projects...
    [INFO]
    [INFO] ------------------------------------------------------------------------
    [INFO] Building tomitribe-io-www 0.0.1-SNAPSHOT
    [INFO] ------------------------------------------------------------------------
    [INFO]
    [INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ tomitribe-io-www ---
    [INFO] Deleting /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] Copying 1 resource
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-resources-plugin:2.6:testResources (default-testResources) @ tomitribe-io-www ---
    [INFO] Using 'UTF-8' encoding to copy filtered resources.
    [INFO] skip non existing resourceDirectory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/test/resources
    [INFO]
    [INFO] --- maven-compiler-plugin:3.1:testCompile (default-testCompile) @ tomitribe-io-www ---
    [INFO] No sources to compile
    [INFO]
    [INFO] --- maven-surefire-plugin:2.17:test (default-test) @ tomitribe-io-www ---
    [INFO] No tests to run.
    [INFO]
    [INFO] --- maven-war-plugin:2.2:war (default-war) @ tomitribe-io-www ---
    [INFO] Packaging webapp
    [INFO] Assembling webapp [tomitribe-io-www] in [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io]
    [INFO] Processing war project
    [INFO] Copying webapp resources [/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/src/main/webapp]
    [INFO] Webapp assembled in [52 msecs]
    [INFO] Building war: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war
    [INFO] WEB-INF/web.xml already added, skipping
    [INFO]
    [INFO] --- maven-install-plugin:2.4:install (default-install) @ tomitribe-io-www ---
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.war
    [INFO] Installing /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/pom.xml to /home/tveronezi/.m2/repository/com/tomitribe/tomitribe-io-www/0.0.1-SNAPSHOT/tomitribe-io-www-0.0.1-SNAPSHOT.pom
    [INFO]
    [INFO] --- tomee-maven-plugin:1.7.2:run (default-cli) @ tomitribe-io-www ---
    [INFO] TomEE was unzipped in '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee'
    [INFO] Removed not mandatory default webapps
    [INFO] Installed '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/tomitribe-io.war' in /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    [INFO] Running 'org.apache.openejb.maven.plugin.run'. Configured TomEE in plugin is localhost:8080 (plugin shutdown port is 8005 and https port is 8443)
    Started server process on port: 8080
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server version:        Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server built:          May 7 2015 17:14:55 UTC
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Server number:         7.0.62.0
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Name:               Linux
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: OS Version:            3.16.0-4-amd64
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Architecture:          amd64
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Java Home:             /home/tveronezi/Documents/development/dev-bin/jdk1.7.0_79/jre
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Version:           1.7.0_79-b15
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: JVM Vendor:            Oracle Corporation
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_BASE:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: CATALINA_HOME:         /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -XX:+HeapDumpOnOutOfMemoryError
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.catalina.STRICT_SERVLET_COMPLIANCE=false
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dtomee.remote.support=true
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dopenejb.system.apps=false
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.config.file=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/logging.properties
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -javaagent:/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib/openejb-javaagent.jar
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.io.tmpdir=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Djava.endorsed.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/endorsed
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.base=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.home=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dcatalina.ext.dirs=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/lib
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -Dorg.apache.tomcat.util.http.ServerCookie.ALLOW_HTTP_SEPARATORS_IN_V0=true
    Sep 04, 2015 1:35:21 PM org.apache.catalina.startup.VersionLoggerListener log
    INFO: Command line argument: -ea
    Sep 04, 2015 1:35:21 PM org.apache.catalina.core.AprLifecycleListener lifecycleEvent
    INFO: The APR based Apache Tomcat Native library which allows optimal performance in production environments was not found on the java.library.path: /usr/java/packages/lib/amd64:/usr/lib64:/lib64:/lib:/usr/lib
    Sep 04, 2015 1:35:21 PM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:35:21 PM org.apache.coyote.AbstractProtocol init
    INFO: Initializing ProtocolHandler [&quot;ajp-bio-8009&quot;]
    [INFO] Waiting for command: [quit, exit, reload]
    Sep 04, 2015 1:35:22 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'tomee.remote.support=true'
    Sep 04, 2015 1:35:22 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.jdbc.datasource-creator=org.apache.tomee.jdbc.TomEEDataSourceCreator'
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: OpenEJB http://tomee.apache.org/
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Startup: Fri Sep 04 13:35:22 EDT 2015
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Copyright 1999-2013 (C) Apache OpenEJB Project, All Rights Reserved.
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Version: 4.7.2
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build date: 20150517
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: Build time: 10:10
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: ********************************************************************************
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.home = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:35:22 PM org.apache.openejb.OpenEJB$Instance &lt;init&gt;
    INFO: openejb.base = /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee
    Sep 04, 2015 1:35:22 PM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Created new singletonService org.apache.openejb.cdi.ThreadSingletonServiceImpl@399fae53
    Sep 04, 2015 1:35:22 PM org.apache.openejb.cdi.CdiBuilder initializeOWB
    INFO: Succeeded in installing singleton service
    Sep 04, 2015 1:35:22 PM org.apache.openejb.config.ConfigurationFactory init
    INFO: openejb configuration file is '/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/conf/tomee.xml'
    Sep 04, 2015 1:35:22 PM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Tomcat Security Service, type=SecurityService, provider-id=Tomcat Security Service)
    Sep 04, 2015 1:35:22 PM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Transaction Manager, type=TransactionManager, provider-id=Default Transaction Manager)
    Sep 04, 2015 1:35:22 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.system.apps=false'
    Sep 04, 2015 1:35:22 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.deployments.classpath=false'
    Sep 04, 2015 1:35:22 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating TransactionManager(id=Default Transaction Manager)
    Sep 04, 2015 1:35:22 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating SecurityService(id=Tomcat Security Service)
    Sep 04, 2015 1:35:23 PM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf)
    Sep 04, 2015 1:35:23 PM org.apache.openejb.server.ServiceManager initServer
    INFO: Creating ServerService(id=cxf-rs)
    Sep 04, 2015 1:35:23 PM org.apache.openejb.server.SimpleServiceManager start
    INFO:   ** Bound Services **
    Sep 04, 2015 1:35:23 PM org.apache.openejb.server.SimpleServiceManager printRow
    INFO:   NAME                 IP              PORT
    Sep 04, 2015 1:35:23 PM org.apache.openejb.server.SimpleServiceManager start
    INFO: -------
    Sep 04, 2015 1:35:23 PM org.apache.openejb.server.SimpleServiceManager start
    INFO: Ready!
    Sep 04, 2015 1:35:23 PM org.apache.catalina.startup.Catalina load
    INFO: Initialization processed in 3342 ms
    Sep 04, 2015 1:35:23 PM org.apache.tomee.catalina.OpenEJBNamingContextListener bindResource
    INFO: Importing a Tomcat Resource with id 'UserDatabase' of type 'org.apache.catalina.UserDatabase'.
    Sep 04, 2015 1:35:23 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Resource(id=UserDatabase)
    Sep 04, 2015 1:35:23 PM org.apache.catalina.core.StandardService startInternal
    INFO: Starting service Catalina
    Sep 04, 2015 1:35:23 PM org.apache.catalina.core.StandardEngine startInternal
    INFO: Starting Servlet Engine: Apache Tomcat (TomEE)/7.0.62 (1.7.2)
    Sep 04, 2015 1:35:23 PM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deploying web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 1:35:23 PM org.apache.tomee.catalina.TomcatWebAppBuilder init
    INFO: ------------------------- localhost -&gt; /tomitribe-io
    Sep 04, 2015 1:35:23 PM org.apache.openejb.util.JarExtractor extract
    INFO: Extracting jar: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war
    Sep 04, 2015 1:35:23 PM org.apache.openejb.util.JarExtractor extract
    INFO: Extracted path: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:35:23 PM org.apache.openejb.util.OptionsLog info
    INFO: Using 'openejb.session.manager=org.apache.tomee.catalina.session.QuickSessionManager'
    Sep 04, 2015 1:35:23 PM org.apache.openejb.config.ConfigurationFactory configureApplication
    INFO: Configuring enterprise application: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:35:24 PM org.apache.openejb.config.ConfigurationFactory configureService
    INFO: Configuring Service(id=Default Managed Container, type=Container, provider-id=Default Managed Container)
    Sep 04, 2015 1:35:24 PM org.apache.openejb.config.AutoConfig createContainer
    INFO: Auto-creating a container for bean tomitribe-io.Comp1350020766: Container(type=MANAGED, id=Default Managed Container)
    Sep 04, 2015 1:35:24 PM org.apache.openejb.assembler.classic.Assembler createRecipe
    INFO: Creating Container(id=Default Managed Container)
    Sep 04, 2015 1:35:24 PM org.apache.openejb.core.managed.SimplePassivater init
    INFO: Using directory /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/temp for stateful session passivation
    Sep 04, 2015 1:35:24 PM org.apache.openejb.config.AppInfoBuilder build
    INFO: Enterprise application &quot;/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io&quot; loaded.
    Sep 04, 2015 1:35:24 PM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Assembling app: /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io
    Sep 04, 2015 1:35:24 PM org.apache.openejb.cdi.CdiBuilder initSingleton
    INFO: Existing thread singleton service in SystemInstance(): org.apache.openejb.cdi.ThreadSingletonServiceImpl@399fae53
    Sep 04, 2015 1:35:24 PM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container is starting...
    Sep 04, 2015 1:35:24 PM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [CdiPlugin]
    Sep 04, 2015 1:35:24 PM org.apache.webbeans.plugins.PluginLoader startUp
    INFO: Adding OpenWebBeansPlugin : [OpenWebBeansJsfPlugin]
    Sep 04, 2015 1:35:24 PM org.apache.webbeans.config.BeansDeployer validateInjectionPoints
    INFO: All injection points were validated successfully.
    Sep 04, 2015 1:35:24 PM org.apache.openejb.cdi.OpenEJBLifecycle startApplication
    INFO: OpenWebBeans Container has started, it took 121 ms.
    Sep 04, 2015 1:35:24 PM org.apache.openejb.assembler.classic.Assembler createApplication
    INFO: Deployed Application(path=/home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io)
    Sep 04, 2015 1:35:26 PM org.apache.catalina.startup.HostConfig deployWAR
    INFO: Deployment of web application archive /home/tveronezi/Documents/development/sources/tribe/ui/tomitribe.io/target/apache-tomee/webapps/tomitribe-io.war has finished in 2,314 ms
    Sep 04, 2015 1:35:26 PM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;http-bio-8080&quot;]
    Sep 04, 2015 1:35:26 PM org.apache.coyote.AbstractProtocol start
    INFO: Starting ProtocolHandler [&quot;ajp-bio-8009&quot;]
    Sep 04, 2015 1:35:26 PM org.apache.catalina.startup.Catalina start
    INFO: Server startup in 2473 ms